{% extends 'base.html' %}
{% block content %}
{% load static %}
<br> <br>
<div style="color:#736763" class="center">
        <h1>ABOUT THIS WEBSITE</h1>
        <p><b>Hi there!!! I am Juthi. This is my first django Website. Welcome you all here. You can type any text and
                        we will
                        count the total number of words in your text. We will also show you which words you used and how
                        may
                        times you
                        used them in your text. Hope you'll all enjoy .</b></p>
</div>
<img src="{%static 'me.jpg'%}" alt="juthi" class="center" height="25%" width="25%">
{% endblock %}